.get-ecoponto {
    width: 280px;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-align: center;
    
    border: 1px solid var(--corTexto);
    border-top: none;
    border-radius: 0px 0px 5px 5px;

    & button {
        width: 150px;
        height: 30px;

        border: 1px solid var(--corTexto);
        border-radius: 5px;

        background-color: var(--corBotao);

        cursor: pointer;

        &:hover {
            background-color: var(--corBotaoHover);
            color: var(--corTextoHover);
            font-weight: bold;
        }

    }

    & div > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & .loader {
            border: 5px solid var(--corTexto);
            border-left-color: var(--corBotao);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            animation: spin 1s linear infinite;

           
        }

        
    }

    & .ecoponto-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        & button {
            width: 250px;
            background-color: var(--corBotaoMaps);
        }
    }

    & iframe {
        width: 260px;
        height: 350px;

        border-radius: 5px;
    }
}
    
@keyframes spin {
    to {
    transform: rotate(360deg);
    }
}

