.get-ecoponto {
    width: 280px;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-align: center;
    
    border: 1px solid var(--corTexto);
    border-top: none;
    border-radius: 0px 0px 5px 5px;

    & button {
        width: 150px;
        height: 30px;

        border: 1px solid var(--corTexto);
        border-radius: 5px;

        background-color: var(--corBotao);

        cursor: pointer;

        font-weight: 700;

        &:hover {
            background-color: var(--corBotaoHover);
            color: var(--corTextoHover);
            font-weight: bold;
        }

    }

    & div > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & strong{
            font-weight: 900;
        }

       
        
    }

    & .ecoponto-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        & button {
            width: 150px;
            height: 30px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;

            font-weight: 700;


            border: 1px solid var(--corTexto);
            border-radius: 5px;

            background-color: var(--corBotaoMaps);

            cursor: pointer;

            & img {
                width: 25px;
                height: 25px;
            }
        }

        & button:hover {
            color: var(--corTexto);
            background-color: var(--corBotaoHover);
        }
    }

    & iframe {
        width: 260px;
        height: 300px;

        border: 1px solid var(--corTexto);
        border-radius: 5px;
    }

    & .ecoponto-text {
        width: 98%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        border: 1px solid var(--corTexto);
        border-radius: 5px;

        

        background-color: var(--corFundoDestaque);

        & h3 {
            width: 100%;
            

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            gap: 5px;

            background-color: var(--corBotaoHover);

            border-radius: 5px 5px 0px 0px;
            border-bottom: 1px solid var(--corTexto);

            font-size: 12px;
            font-weight: bolder;

            padding: 3px;

            

           & img {
            width: 20px;
            height: 20px;
           }
        }

        & p {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            font-size: small;
            text-align: justify;

            padding: 5px;

        }

    }
}
    
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--corTextoHover);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
  

