.get-ecoponto {
    width: 280px;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-align: center;
    
    border: 1px solid var(--corTexto);
    border-radius: 5px;

    & button {
        width: 150px;
        height: 30px;

        border: 1px solid var(--corTexto);
        border-radius: 5px;

        background-color: var(--corBotao);

        cursor: pointer;

        &:hover {
            background-color: var(--corBotaoHover);
            color: var(--corTextoHover);
            font-weight: bold;
        }

    }


}