.header {
    width: 100dvw;
    height: auto;

    display: flex;
    flex-direction: collunm;
    align-items: center;
    justify-content: center;


    border: 1px solid var(--corTexto);
    border-radius: 5px;

    & img {
        width: 100%;
    }

}